[submodule "assetspaces/ems"]
	path = assetspaces/ems
	url = https://github.com/kitelev/exoas-ems
[submodule "assetspaces/ems-commands"]
	path = assetspaces/ems-commands
	url = https://github.com/kitelev/exoas-ems-commands
[submodule "assetspaces/test"]
	path = assetspaces/test
	url = https://github.com/kitelev/exoas-test
[submodule "assetspaces/exo"]
	path = assetspaces/exo
	url = https://github.com/kitelev/exoas-exo
[submodule "assetspaces/w3c-aggregated"]
	path = assetspaces/w3c-aggregated
	url = https://github.com/kitelev/exoas-w3c-aggregated.git
[submodule "assetspaces/place"]
	path = assetspaces/place
	url = https://github.com/kitelev/exoas-place.git
[submodule "assetspaces/period"]
	path = assetspaces/period
	url = https://github.com/kitelev/exoas-period.git
[submodule "assetspaces/role"]
	path = assetspaces/role
	url = https://github.com/kitelev/exoas-role.git
[submodule "assetspaces/ims"]
	path = assetspaces/ims
	url = https://github.com/kitelev/exoas-ims.git
[submodule "assetspaces/exocmd"]
	path = assetspaces/exocmd
	url = https://github.com/kitelev/exoas-exocmd.git
[submodule "assetspaces/aiknow-ontology"]
	path = assetspaces/aiknow-ontology
	url = https://github.com/kitelev/exoas-aiknow.git
