[submodule "assetspaces/ems"]
	path = assetspaces/ems
	url = https://github.com/kitelev/exoas-ems
[submodule "assetspaces/ems-commands"]
	path = assetspaces/ems-commands
	url = https://github.com/kitelev/exoas-ems-commands
[submodule "assetspaces/test"]
	path = assetspaces/test
	url = https://github.com/kitelev/exoas-test
[submodule "assetspaces/exo"]
	path = assetspaces/exo
	url = https://github.com/kitelev/exoas-exo
[submodule "assetspaces/shared-identities"]
	path = assetspaces/shared-identities
	url = https://github.com/kitelev/exoas-shared-identities
